@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(!Model.Any())
{
    <h3>No movies found!</h3>
}
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Available From</th>
            <th>Number In Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var movie in Model)
        {
            <tr id="MovieRow">
                <td>
                    @Html.ActionLink(movie.Name, "Details", new { Id = movie.Id })
                </td>
                <td>
                    @movie.Genre.Name
                </td>
                <td>
                    @movie.ReleaseDate.ToShortDateString()
                </td>
                <td>
                    @movie.AvailableFrom.ToShortDateString()
                </td>
                <td>
                    @movie.NumberInStock
                </td>
            </tr>
        }
    </tbody>
</table>
